<h1>Lista de Productos en Tiempo Real</h1>

<form id='productForm'>
	<input type='text' name='title' placeholder='Título' required />
	<input type='text' name='description' placeholder='Descripción' required />
	<input type='number' name='price' placeholder='Precio' required />
	<input type='text' name='img' placeholder='URL de Imagen' required />
	<input type='text' name='code' placeholder='Código' required />
	<input type='number' name='stock' placeholder='Stock' required />
	<button type='submit'>Agregar Producto</button>
</form>

<div id='productList'></div>

<script src='/socket.io/socket.io.js'></script>
<script src='/realTimeProducts.js'></script>